:root {
  --color-primary: 0, 0, 0;
  --color-secondary: 0, 153, 125;
  --color-neutral: 255, 255, 255;

  --cl-shadow: rgba(var(--color-primary), 0.25);
  --cl-primary: rgb(var(--color-primary));
  --cl-secondary: rgb(var(--color-secondary));
  --cl-neutral: rgb(var(--color-neutral));
}

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100%;
}
